<!DOCTYPE html>
<html lang="en">
<head>
	{%- include head.html -%}
</head>
<body>
	<main class="container">
		<section class="about">
			<a href="/{% t path.lang_prefix %}" title="{% t global.main_page %}"><img src="/assets/portfolio_white.png" alt="{% t global.name %}"/></a>
			<a href="/{% t path.lang_prefix %}about" title="{% t global.about_me %}" class="name">{% t global.name %}</a>
			<p class="tagline">{{ site.plainwhite.tagline }}</p>
			<ul class="social">
				<a href="https://www.linkedin.com/{{ site.plainwhite.social_links.linkedIn }}" target="_blank"><li><i class="icon-linkedin-squared"></i></li></a>
				<a href="https://www.drupal.org/{{ site.plainwhite.social_links.drupal }}" target="_blank"><li><i class="icon-drupal"></i></li></a>
			</ul>

			<p>
			  <a href="/ru{{ page.url}}" title="{% t language.russian %}">{% t language.russian %}</a>
			  <a href="{{ page.url  }}" title="{% t language.english %}">{% t language.english %}</a>
			</p>
		</section>
		<section class="content">
			{{ content }}
		</section>
	</main>
</body>
</html>
